<% provide(:title, "Contact") %>
<div class="text-center">
	<div>
		<h1>Contact</h1>
		<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget leo volutpat, congue erat nec, mollis velit. Integer enim nunc, mattis sodales justo vitae, consequat ultricies felis. 
		</p>		
	</div>	
</div>