<li>
	<%= gravatar_for user, size: 50 %>
	<%= link_to user.name, user, class: "pl-3" %>

	<% if current_user.admin? && !current_user?(user) %>
	| <%= link_to "Delete", user, method: :delete, class: "text-danger ", data: { confirm: "You sure?" } %>
	<% end %>

</li>