<footer>
	<div class="bg-blue">
		<div class="container py-3 text-center">
			<ul class="list-inline m-0">
				<li class="list-inline-item"><%= link_to "About", about_path %></li>
				<li class="list-inline-item"><%= link_to "Contact", contact_path %></li>
			</ul>
		</div>
		
	</div>
</footer>